@font-face {
    font-family: 'CascadiaCode';
    src: url('font/static/CascadiaCode-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'CascadiaCode', monospace;
    color: #000000;
    display: flex;
    justify-content: center;
    background-image: url("c58d078a-856c-4aed-9ff9-0bf536e245f2.jpg");
    background-repeat: no-repeat;            
    background-size: cover;                  
    background-attachment: fixed;            
    background-color: #3a65ff;;
}

.about a {
    text-decoration: none;
}
h1 {
    margin: 0px;
    padding: 0px;
    color: #000000;
    min-width: 405px;
    width: 100%;
}

.nav-bar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-inline {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 10px;
}

.nav-inline li a {
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    padding: 5px;
    border: 3px solid black;
    border-radius: 8px;
    transition: 0.3s ease;
}

.nav-inline a:hover {
    background-color: #4b72ff;
    transform: translateY(-5px);
    color: #ffffff;
}

.section-title {
    padding: 0px;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    background-color: #343633;
    padding: 0;
    border-radius: 6px;
}

.nav-links li a:hover {
    background-color: #4b72ff;
    color: white;
    transform: translateY(-5px);
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 0px;
    margin: 40px;
    transition: 0.5s;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.card:hover {
    background-color: #4b72ff;
    color: white;
    transform: translateY(-5px);
}

.card {
    flex: 1 1 200px;
    max-width: 250px;
    min-width: 180px;
    height: auto;
    margin: 0;
    padding: 1.8%;
    border-radius: 8px;
    border: 5px solid black;
    background-color: #ffffff;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: contain;
    display: block;
}

.card h3 {
    margin: 0 0 5px 0;
    text-align: center;
    width: 100%;
}

/* About Me Section */
#about {
    display: flex;
    flex-direction: row;
    padding: 15px;

    margin: 0;
    border-radius: 8px;
    border: 5px solid #4b72ff;
}

/* Columns */
#about .column-left {
    flex: 65%;
    display: flex;
    flex-direction: column;
}

#about .column-right {
    flex: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Spacing inside About */
#about p {
    margin: 0;
}

#about a,
#about a:visited {
    text-decoration: none;
    color: #4b72ff;
}

#about h1 {
    margin-bottom: 1vw;
}

/* Headshot */
.headshot {
    width: 80%;
    height: auto;
    max-width: 280px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    border: 3px solid #4b72ff;
    margin: 0;
}

.card p {
    font-size: 14px;
    margin: 0;
    width: 100%;
    max-width: 100%;
    text-align: left;
}


.contact-card {
    text-align: center;
    width: 100%;
    flex: 1 1 200px;
    max-width: 150px;
    min-width: 100px;
    height: auto;
    border-radius: 8px;
    border: 5px solid black;
    background-color: #ffffff;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.contact-card:hover {
    background-color: #4b72ff;
    color: white;
    transform: translateY(-5px);
}
